<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MSTA-Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MSTA_Service</servlet-name>
    <servlet-class>MSTATracker.mstatracker_servlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>MSTA_Service</servlet-name>
    <url-pattern>/MSTAServlet.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSTAUpload</servlet-name>
    <jsp-file>/MSTAUpload.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>MSTAUpload</servlet-name>
    <url-pattern>/MSTAUpload.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSTATracker</servlet-name>
    <jsp-file>/MSTATracker.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>MSTATracker</servlet-name>
    <url-pattern>/MSTATracker.html</url-pattern>
  </servlet-mapping>
</web-app>